.page {
  background-image: url('https://images5.alphacoders.com/548/548279.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formLogin {
  font-family: 'SuaFontePersonalizada', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 350px;
  color: #fff;
}



.formLogin h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.formLogin p {
  font-size: 14px;
  margin-bottom: 20px;
}

.formLogin label {
  display: block;
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}

.formLogin input[type="text"],
.formLogin input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.formLogin input[type="text"]::placeholder,
.formLogin input[type="password"]::placeholder {
  color: #ccc;
}

.formLogin a {
  color: #8c00ff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.formLogin input[type="submit"] {
  padding: 10px 20px;
  background-color: #8c00ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formLogin input[type="submit"]:hover {
  background-color: #0057b3f1;
}

.fundo {
  font-family: 'SuaFontePersonalizada', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://images5.alphacoders.com/548/548279.jpg') no-repeat center center fixed;
  background-size: cover;
}

.universe-theme {
  background: rgba(0, 0, 0, 0.774);
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px; /* Define o limite de largura para o contêiner */
  margin: 0 auto; /* Centraliza o contêiner */
}

.card {
  width: calc(33.33% - 20px); /* Configura a largura para três colunas e margens entre elas */
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  background: rgba(131, 54, 194, 0.351); /* Fundo semi-transparente */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  margin: 0;
}
