<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
</head>
<body>
  <form method="post" action="/logar" >
    <h1 class="a11y-hidden">Login Form</h1>
    <div>
      <label class="label-email">
        <input type="text" class="text" name="usuario" placeholder="Usuario" />
        <span class="required">Usuario</span>
      </label>
    </div>
    
    <div>
      <label class="label-password">
        <input type="text" class="text" name="password" placeholder="Password" tabindex="2" required />
        <span class="required">Senha:</span>
      </label>
    </div>
    <input type="submit" value="Log In" />
   
    
  

  </form>
</body>
</html>